/*assembly Css*/
body{
    background-color: rgb(7, 5, 48);
}

.tab > tr > td{
    border: 1px solid rgba(167, 167, 167, 0.247);
    width: 20px;
    height: 20px;
}

.tab{
    margin: auto;
}

.cir{
    background-color: #7392ff;
    border-radius: 50%;
}


.tri{
        width: 0 !important;
        height: 0 !important;
        border: 11px solid transparent!important;
        border-top: 0!important;
        border-bottom: 20px solid #7392ff!important;
      
  }

.sqr{
    background-color: #7392ff;
}

#cirPng{
    align-self: center;
    
    padding-top: 2px;
    background-color: rgba(0,0,0,0);
}

#cirPng > img{
    height: 20px;
    width: 20px;
}

#tirPng{
    align-self: center;
    padding-top: 2px;
    background-color: rgba(0,0,0,0);
}

#tirPng > img{
    height: 20px;
    width: 20px;
}

#squPng{
    align-self: center;
    padding-top: 4px;
    padding-bottom: 3px;
    background-color: rgba(0,0,0,0);
}

#squPng > img{
    height: 15px;
    width: 15px;
}

#grid{
    align-self: center;
 padding-top: 5px;
 padding-bottom: 5px;
}

.btns{
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
}